*.iml
.gradle
/local.properties
/.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/hunter-event-plugin/build
/hunter-event-library/build
.DS_Store
/build
/captures
/app/trace
.externalNativeBuild
.cxx
